{% extends "layout.html" %}

{% block content %}
    
    <h1 v-if="projectName == ''">Generate Flask project template</h1>
    <h1 v-else>Generate [[ projectName ]]</h1>

    <input v-model="projectName" type="text" placeholder="Project name">
    
    <div class="form-checkbox-container">
        <label class="container">Create Virtual Enironment
            <input v-model="virtEnv.show" @click="virtEnv.show = !virtEnv.show" type="checkbox">
            <span class="checkmark-ckb"></span>
        </label>

        <div v-if="virtEnv.show">Create Virtual Enironment
            <input type="text" v-model="virtEnv.name" v-bind:value="virtEnv.name">
            <div v-for="param in virtEnv.params">
                <span>[[ param.name ]]</span>
                <select v-model="param.value" v-bind:value="param.value">
                    <option>true</option>
                    <option>false</option>
                </select>
            </div>
        </div>
        
        <label class="container">Add Database
            <input v-model="addDatabase" @click="addDatabase = !addDatabase; addAuthSys = false" type="checkbox">
            <span class="checkmark-ckb"></span>
        </label>

        <div v-if="addDatabase">
            Chose Database
            <select v-model="dbType">
                <option>SQL Lite</option>
                <option>MySQL</option>
            </select>

            <label v-if="dbType" class="container">Add Authentication system
                <input v-model="addAuthSys" @click="addAuthSys = !addAuthSys" type="checkbox">
                <span class="checkmark-ckb"></span>
            </label>
    
            <div v-if="addAuthSys">
                User Table Name: <input type="text" v-model="authSys.userTableName" v-bind="authSys.userTableName">
                <!--Generate User Table fields-->
                <div class="authTabelHeader">
                    <span>Name</span>
                    <span>Primary key</span>
                    <span>Nullable</span>
                    <span>Unique</span>
                    <span>Type</span>
                </div>
                <div v-for="field in authSys.userTableFields">
                    <input type="text" v-bind:value="field.name" v-model="field.name">
                    <select v-model="field.pk" v-bind:value="field.pk">
                        <option>true</option>
                        <option>false</option>
                    </select>
                    <select v-model="field.nullable" v-bind:value="field.nullable">
                        <option>true</option>
                        <option>false</option>
                    </select>
                    <select v-model="field.unique" v-bind:value="field.unique">
                        <option>true</option>
                        <option>false</option>
                    </select>
                    <select v-model="field.type" v-bind:value="field.type">
                        <option>Integer</option>
                        <option>Float</option>
                        <option>String</option>
                        <option>Text</option>
                        <option>Boolean</option>
                        <option>Date</option>
                        <option>DateTime</option>
                        <option>Time</option>
                    </select>
                    <img class="delete-package-icon" src="{{ url_for('static', filename = 'img/trash.svg') }}" alt="Delete" @click="removeElementFromArray(authSys.userTableFields, field)">
                </div>
                <button @click="extendArrayByElement(authSys.userTableFields, {})" v-bind:disabled="!authSys.lastFieldFilled">Add Table Column</button>
                The login view/route: <input type="text" v-bind:value="authSys.loginView" v-model="authSys.loginView" placeholder="Login route">
            </div>
        </div>

        <label class="container">Use WT Forms
            <input v-model="wtForms.show" @click="wtForms.show = !wtForms.show" type="checkbox">
            <span class="checkmark-ckb"></span>
        </label>

        <div v-if="wtForms.show">WT Forms
            <span>Use CSRF Token</span>
            <select v-model="wtForms.useCsrf">
                <option>true</option>
                <option>false</option>
            </select>
            
            <div v-for="(form, index) in wtForms.forms">
                <span>Form Name</span>
                <input type="text" v-model="form.name">
                <img class="delete-package-icon" src="{{ url_for('static', filename = 'img/trash.svg') }}" alt="Delete" @click="removeElementFromArray(wtForms.forms, form)">
                    <div v-for="field in form.fields">
                        Field name: <input type="text" v-model="field.name">
                        <span v-for="validator in field.validators" @click="removeElementFromArray(field.validators, validator)">
                            [[ validator ]], 
                        </span>
                        <img class="delete-package-icon" src="{{ url_for('static', filename = 'img/trash.svg') }}" alt="Delete" @click="removeElementFromArray(form.fields, field)">
                        <button @click="setValidators(field)">Set validators</button>
                    </div>
                <button @click="extendArrayByElement(form.fields, { name: '', validators: [] })" v-bind:disabled="!wtForms.forms[index].lastFieldFilled">Add Field</button>
            </div>
            <button @click="extendArrayByElement(wtForms.forms, { name: '', lastFieldFilled: true, fields: [{ name: '', validators: [] }] })">Add Form</button>

            Configure Validators
            <div v-for="validator in wtForms.validators">
                <label class="container">
                    [[ validator.name ]]
                    <input v-model="validator.use" v-bind="validator.use" @click="updateSelectedValidators(validator)" type="checkbox">
                    <span class="checkmark-ckb"></span>
                </label>
                <input v-if="validator.param != undefined" v-model="validator.param" type="text">
                <input v-if="validator.min != undefined" v-model="validator.min" type="number">
                <input v-if="validator.max != undefined" v-model="validator.max" type="number">
                <br><br>
            </div>
            <button @click="resetValidatorsConfiguration()">Reset Configuration</button>
        </div>


        <label class="container">Use Blueprints
            <input v-model="blueprints.show" @click="blueprints.show = !blueprints.show" type="checkbox">
            <span class="checkmark-ckb"></span>
        </label>

        <div v-if="blueprints.show">Blueprints
            <div v-for="blueprint in blueprints.blueprintsList">
                <input type="text" v-model="blueprint.name">
                <label class="container">Create Forms File
                    <input v-model="blueprint.addForms" @click="blueprint.addForms = !blueprint.addForms" type="checkbox">
                    <span class="checkmark-ckb"></span>
                </label>
                <div v-if="blueprint.addForms">
                    <span @click="extendArrayByElement(blueprint.forms, form.name, avoidDuplicates = true)" v-for="form in wtForms.forms">[[ form.name ]]</span>
                    <br>Selected Forms: <span v-for="form in blueprint.forms">[[ form ]],</span>
                </div>
                <img class="delete-package-icon" src="{{ url_for('static', filename = 'img/trash.svg') }}" alt="Delete" @click="removeElementFromArray(blueprints.blueprintsList, blueprint)">
            </div>
            <button @click="extendArrayByElement(blueprints.blueprintsList, { name: '', addForms: false, forms: [] })" v-bind:disabled="!blueprints.lastFieldFilled">Add Blueprint</button>
        </div>

        <label class="container">Emails
            <input v-model="emails" @click="emails = !emails" type="checkbox">
            <span class="checkmark-ckb"></span>
        </label>

        <div v-if="emails">Emails</div>
    </div>
    
    <h2>Requirements</h2>
    <div v-for="package in requirements" v-bind:key="package.name">
        <input type="text" v-model="package.name">
        <select v-model="package.type">
            <option>==</option>
            <option>>=</option>
            <option><=</option>
        </select>
        <input type="text" v-model="package.version">
        <img class="delete-package-icon" src="{{ url_for('static', filename = 'img/trash.svg') }}" alt="Delete" @click="removeElementFromArray(requirements, package)">
    </div>
    <button @click="extendArrayByElement(requirements, { name: '', version: '', type: '==' })">Add Package</button>

    <button @click="sendData" type="button" v-bind:disabled="projectName == ''">Create</button>


    <!-- <a href="{{ url_for('static', filename = 'main.css') }}" download>Download</a> -->
{% endblock content %}