* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg-color: #508CBA;
    --orange: #FFAB5D;
    --nav-links-color: #E5E5E5;
    --body-bg: #D8EBF9;
    --dark-blue: #0C4470;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border: 1px solid gray;
    --success:  rgb(147, 204, 147);
    --danger: rgb(240, 124, 124);
    --info: rgb(162, 211, 240);
    --mobile: 800px;
}

body {
    display: grid;
    grid-template-rows: 10vh 10fr 8vh;
    grid-template-areas: 
        'header header header'
        'content content content';
    height: 100vh;
    max-width: 100vw;
    background-color: var(--body-bg);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Raleway', sans-serif;
    color: var(--dark-blue);
}

.mt-1 { margin-top: 1em }
.mb-1 { margin-bottom: 1em; }

/* =========== Navigation bar =========== */
nav {
    grid-area: header;
    z-index: 3;
    display: flex;
    align-items: center;
    background-color: var(--nav-bg-color);
    max-width: 100%;
    border-bottom: solid #355C7A 10px;
}

.logo {
    display: none;
}

.nav-links {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-links a {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: var(--nav-links-color);
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links li {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.burger {
    height: 50px;
    width: 50px;
    display: none;
    border: 1px solid var(--nav-links-color);
    border-radius: 2px;
    padding: 5px;
}

.burger-line {
    border-radius: 2px;
    background-color: var(--nav-links-color);
    height: 4px;
    width: 100%;
    transition: all 0.3s ease;
}

.burger:hover .burger-line{
    width: 110%;
}
/* ========= Navigation bar end ========= */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.content {
    padding: 1em;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 100%;
    margin-bottom: 1em;
}

input[type=text], input[type=number], select {
    height: 2em;
    box-sizing: border-box;
    border: 2px solid rgb(201, 200, 200);
    border-radius: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1.2em;
    outline: none;
    font-family: Consolas, Monaco, "Courier New", monospace;
}

.delete-icon {
    width: 2em;
    height: 2em;
}

@keyframes deleteIcon { 100% { -webkit-transform: scale(1.1);} }

.delete-icon:hover {
    cursor: pointer;
    animation: deleteIcon .2s forwards;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 20px;
    height: 3em;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px;
    text-align: center;
}

.alert-success { background-color: var(--success); }
.alert-danger { background-color: var(--danger); }
.alert-info { background-color: var(--info); }


button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.orange-btn {
    border: none;
    border-bottom: 5px solid #C58143;
    background-color: var(--orange);
}

.orange-btn:hover {
    border-bottom: 3px solid #C58143;
    top: 2px;
}

.big-btn {
    height: 4rem;
    width: 12rem;
    font-size: 1.2rem;
    padding: 10px;
}

.med-btn {
    height: 3rem;
    min-width: 9rem;
    font-size: 1.2rem;
    padding: 0.3em;
    margin-top: 0.5rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    transition: all 0.2s ease;
    position: relative;
    top: 0;
    left: 0;
    color: var(--dark-blue);
    cursor: pointer;
    text-align: center;
}

.project-name-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.project-name-section h1 {
    font-size: 2em;
}

.settings-section {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.settings-ckb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    column-gap: 1.5em;
    flex-wrap: wrap;
    row-gap: 1.5em;
}

.virt-env {
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 80%;
    max-width: 25em;
    border-radius: 0.3em;
    border: var(--border);
    box-shadow: var(--shadow);
    padding: 1em;
}

.text {
    font-size: 1.2em;
}

.virt-env-params {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.db-table-container {
    width: fit-content;
    overflow-x: auto;
    max-width: 90vw;
    border: var(--border);
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: var(--shadow);
}

.db-table .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-table th {
    font-size: 1.2em;
    height: 2em;
    text-align: center;
}

.form-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 1em;
}

.form-field, .blueprint {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    border: var(--border);
    border-radius: 0.3em;
    padding: 1em;
    max-width: 25em;
    box-shadow: var(--shadow);
}

.blueprint {
    max-width: 100%!important;
}

.form-field-data-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-field-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.form-field-container, .blueprints-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 1em;
}

.form {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wtforms-container {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: 0.3em;
    padding: 1em;
}

.add-form-btn, .reset-validators-btn {
    max-width: 20em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.validator:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.validators-container {
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
    row-gap: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: var(--border);
    box-shadow: var(--shadow);
    padding: 1em;
    border-radius: 0.3em;
}

.blueprint-data-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
}

.blueprints-container {
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: 0.3em;
    padding: 1em;
    margin-top: 0.5em;
}

@media screen and (max-width: 1130px) {
    .validators-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        align-items: flex-start;
    }
}

@media screen and (max-width: 1150px) {

}


@media screen and (max-width: 800px) {
    nav {
        background-color: var(--nav-bg-color);
        background-image: none;
    }

    .nav-links a {
        border: none;
        height: 80px;    
    }

    .nav-links-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }


    .nav-links {
        position: absolute;
        top: 0rem;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: var(--nav-bg-color);
        padding-top: 5rem;
        margin: 0;
    }
    
    .nav-links li {
        opacity: 0;
        height: 50px;
    }

    .burger {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

/* Animation for navlinks */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}