* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-checkbox-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 30px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark-ckb {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid grey;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark-ckb, .container:hover input ~ .checkmark-rad {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark-ckb, .container input:checked ~ .checkmark-rad {
    background-color: #2196F3;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-ckb:after, .checkmark-rad:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark-ckb:after, .container input:checked ~ .checkmark-rad:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark-ckb:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Create a custom radio button */
.checkmark-rad {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid grey;
}

/* Style the indicator (dot/circle) */
.container .checkmark-rad:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.delete-package-icon {
    width: 2em;
    cursor: pointer;
}